<div class="ideacard">
    <mat-toolbar class="toolbar">
        <div class="spacer"></div>
        <a mat-button routerLink="/users">
            <h1>POPULARES</h1>
        </a>
        <a mat-button routerLink="/add">
            <h1>NUEVAS</h1>
        </a>
        <a mat-button routerLink="/ideas/ban">
            <h1>FINALIZANDO</h1>
        </a>
    </mat-toolbar>
    <div class="card" style="border-radius: 25px;">
        <div class="card-body">
            <div class="row row-cols-auto" *ngFor="let proyecto of proyectos">
                <div style="margin: 5px;">

                    <app-idea [idea]="proyecto"></app-idea>
                </div>

            </div>
        </div>

    </div>


</div>