    <div  class="card-lg">
        <h1>MIS IDEAS</h1>
        <div *ngIf="!ideas" class="misideas">
            <div class="card-md">
                <div class="card_content" style="text-align: center;">
                    <h1>NO TIENES NINGUNA IDEA REGISTRADA</h1>
                    <h1>
                        ¿TE GUSTARIA REGISTRAR ALGUNA IDEA?
                    </h1>
                    <button (click)="ideaRegister()" type="button" class="btn btn-primary" style="width: 130px;">Registrar</button>
                </div>
            </div>
        </div>
        <div *ngIf="ideas" class="misideas">
            <span>ideas</span>
        </div>
    </div>

