<div class="row">
    <form class="col-12" [formGroup]="ideaFormGroup" (submit)="modify($event)" novalidate>
      <h1> Editar {{idea.title}} </h1>
      <div class="row card-basic">
        <div class="row">
          <label >Titulo de la idea</label>
          <mat-form-field appearance="fill" >
            <input required
                matInput aria-label="State"
                formControlName="title" id="ideatittle" [(ngModel)]="idea.title"
                >
            </mat-form-field>
        </div>
        <div class="row">
            <label >Descripcion de la idea</label>
            <mat-form-field appearance="fill" >
              <input required
                  matInput aria-label="State"
                  formControlName="description" id="ideadesc" [(ngModel)]="idea.description"
                  >
              </mat-form-field>
          </div>
        <div class="row">
            <label >Objetivo a recaudar</label>
            <mat-form-field appearance="fill" readonly >
              <input required 
                  matInput aria-label="State"
                  formControlName="fundGoal" [(ngModel)]="idea.fundGoal" id="fundGoal"
                   >
                  
              </mat-form-field>
          </div>
        <div class="row">
                <label >Duracion de la idea</label>
                <mat-form-field appearance="fill" >
                    <input required
                        matInput aria-label="State"
                        formControlName="projectDays" id="projectDays" numbersOnly [(ngModel)]="idea.projectDays"
                        >
                    </mat-form-field>
          </div>
          
          <div class="row">
            <label >Categoria de la idea</label>
            <mat-form-field appearance="fill" >
              <input required
                  matInput aria-label="State"
                  formControlName="category" id="category" [(ngModel)]="idea.category"
                  >
              </mat-form-field>
          </div>
        <div>
          <div class="float-start">
            <button class="btn btn-primary" (click)="goback()">
            
                Volver
              </button>
          </div>
          <div class="float-end">
            <button class="btn btn-primary" type="submit">
            
                Editar
              </button>
          </div>
          
        </div>
      </div>
    </form>
  </div>
